<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mostrando order</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal">
                              <div class="form-group"><label class="col-sm-2 control-label">Status</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.status %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Number</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.number %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Os date</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.os_date %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Hour</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.hour %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Medium</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.medium %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Called</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.called %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Operator</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.operator %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Sector</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.sector %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Responsible</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.responsible %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Contact</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.contact %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Unity</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.unity %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Scope</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.scope %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Address</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.address %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Route</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.route %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Vehicle</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.vehicle %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Ranking</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.ranking %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Modality</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.modality %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Cause</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.cause %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.description %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Authorization</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.authorization %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Priority</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.priority %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Link</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.link %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Operational</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.operational %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Measure</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.measure %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Request date</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.request_date %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Insertion routing</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.insertion_routing %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Reporting routing</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.reporting_routing %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Deliberation</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.deliberation %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Temporal lapse</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.temporal_lapse %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Order record</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.order_record %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Feedback</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.feedback %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Execution availability</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.execution_availability %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Devolution</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @order.devolution %>
                    </p>
                  </div>                  
                </div>
                            <div class="hr-line-dashed">
              </div>                    
              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', orders_path, :class => 'btn btn-white' %>            
                      <%= link_to 'Editar', edit_order_path(@order), :class => "btn btn-primary" %>               
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  